body {
    padding: 10%;
    font-size: 1.5rem;
    color: blue;
}

/* input, button{
    font: inherit;
} */

.a {
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: justify;
}

.b {
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    
}

.c {
    text-indent: 2rem;
}

.d {
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.15rem;
}

.e {
    font-weight: bold;
    font-style: oblique;
    font-family: serif;
}

span {
    text-decoration: underline;
}