* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-size: 1.5rem;
    min-height: 200vh;
}

.outerbox {
    border: 3px black dashed;
    height: 85vh;
    width: 75vw;
    margin: 40px auto;
    position: relative;
}

.innerbox {
    border: 3px black solid;
    height: 50vh;
    width: 40vw;
    margin: 200px auto;

}

.box {
    width: 150px;
    height: 150px;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.absolute {
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.relative {
    background-color: red;
    position: relative;
    top: 200px;
    left: 200px;
}

.fixed {
    background-color: brown;
    position: fixed;
    top: 100px;

}

.sticky {
    background-color: blueviolet;
    position: sticky;
    top: 0;
}