body {
    background-color: papayawhip;
    font-size: 20px;
    color: rgb(192, 8, 8);


}

.a1,
.a2,
.a3 {
    color: rgb(12, 12, 12);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}